#btn-container {
  text-align: center;
}

#update-btn {
  margin-right: 25px;
}

#priority-Font{
  font-size: 24px;
  color:  red;
}

#detail-Font{
  font-size: 12px;
  color:black;
}

.rightPadding{
  padding-right: 20px;
}

#edit-task-form {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
}
#taskDetailWith{
  width: 100% !important;
}

.mat-form-field {
  width: 48% !important;
}