<div class="container">
    <div class="chat-window">
        <div class="chat-window-header">
            <p>Chat with Stan Helsing</p>
        </div>
        <div #scrollBottom class="chat-conversation-container">
            <div *ngFor="let m of messages" class="message">
                <p [ngClass]="{'incoming': m.type === 0, 'outgoing': m.type === 1}">{{m.body}}</p>
            </div>
        </div>
        <div class="chat-message-form">
            <mat-form-field>
                <input [(ngModel)]="newMessageBody" (keydown)="onKey($event)" matInput placeholder="Type message..." >
            </mat-form-field>
            <div class="button-container">
                <button (click)="sendMessage()" [disabled]="newMessageBody.length === 0" mat-raised-button color="primary">Send</button>
            </div>
        </div>

    </div>
</div>