.container {
  display: grid;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
}

canvas {
  border:3px solid #74a654;
}

.gameInfo {
  width: 252px;
}

.gameInstructions {
  width: 510px;
}

.gameCanvas{
  width:810px;
}