<body class = "mat-app-background">

<mat-toolbar color= "primary">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <app-login></app-login>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list color = "primary">
      <a mat-list-item routerLink = "task-list">Task List</a>
      <a mat-list-item routerLink = "chat">Chat</a>
      <a mat-list-item routerLink = "game">Game</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

        <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

</body>