<div class="app-container">
  <mat-toolbar class="app-header" color= "primary">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon svgIcon="menu">menu</mat-icon>
      </button>

      <h1>Welcome to {{ title }}!</h1>

      <app-login></app-login>
  </mat-toolbar>

  <mat-sidenav-container class="app-content">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list color = "primary">
        <a mat-list-item routerLink = "task-list">Task List</a>
        <a mat-list-item routerLink = "chat">Chat</a>
        <a mat-list-item routerLink = "game">Game</a>
        <a mat-list-item routerLink = "profile">Profile</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <mat-toolbar class="app-header footer" color= "primary">
          For support, contact the dev team: email@address.com, email@address.com, email@address.com, email@address.com 
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>