<div class="app-container">
  <mat-toolbar class="app-header" color= "primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="authService.isAuthenticated()">
          <mat-icon svgIcon="menu"></mat-icon>
      </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-content">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list color = "primary">
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item routerLink="task-list">Task List</a>
        <a mat-list-item routerLink="chat">Chat</a>
        <a mat-list-item routerLink="game">Game</a>
        <a mat-list-item routerLink="profile">Profile</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <mat-toolbar class="app-header footer" color= "primary">
        For support, contact the dev team: <a class="email" href="mailto:ajb481@psu.edu">Adam Bondi</a>, <a class="email" href="mailto:axr357@psu.edu">Amish Ranjit</a>, <a class="email" href="mailto:email@address.com">Kristin Gower</a>, <a class="email" href="mailto:maw478@psu.edu">Marc Williams</a> 
    </mat-toolbar>
  </footer>
</div>