<div id="add-task-form">
  <mat-form-field id="add-task-input-container">
    <input [(ngModel)]="newTaskDescription" matInput placeholder="Enter new task">
  </mat-form-field>
  <div id="add-button-container">
    <button (click)="addTask()" mat-raised-button color="primary">Add</button>
  </div>
</div>

<div id="task-list-container">
  <mat-selection-list id="tasks-list" #tasks>
    <mat-list-option *ngFor="let task of taskList">
      {{task.description}}
    </mat-list-option>
  </mat-selection-list>
</div>