.container {
  display: grid;
  width: 50%;
  margin: 20px auto;
}

#add-task-form {
  display: grid;
  align-content: bottom;
  grid-template-columns: auto 95px 95px 90px;
}

#add-task-form > mat-form-field {
  margin-right: 10px;
}

.button-container {
  margin-top: 10px;
}