#tasks-list {
  width: 50%;
  margin: 0 auto;
}

#add-task-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

#add-task-input-container{
  width: 75%;
}

#add-button-container {
  width: 25%;
  text-align: right;
  padding-top: 10px;
}