@import '~@angular/material/theming';

@include mat-core();

$md-zombie-green: (
    50 : #ebf2e7,
    100 : #cee0c3,
    200 : #adcb9b,
    300 : #8cb672,
    400 : #74a654,
    500 : #5b9636,
    600 : #538e30,
    700 : #498329,
    800 : #407922,
    900 : #2f6816,
    A100 : #baffa1,
    A200 : #95ff6e,
    A400 : #70ff3b,
    A700 : #5eff21,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-zombie-grey: (
    50 : #f0f0f0,
    100 : #d9d8d8,
    200 : #bfbfbf,
    300 : #a5a5a5,
    400 : #929191,
    500 : #7f7e7e,
    600 : #777676,
    700 : #6c6b6b,
    800 : #626161,
    900 : #4f4e4e,
    A100 : #f8bebe,
    A200 : #f39090,
    A400 : #ff5151,
    A700 : #ff3737,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-zombie-red: (
    50 : #f6e7e7,
    100 : #e8c3c3,
    200 : #d89b9b,
    300 : #c87272,
    400 : #bd5454,
    500 : #b13636,
    600 : #aa3030,
    700 : #a12929,
    800 : #982222,
    900 : #881616,
    A100 : #ffbebe,
    A200 : #ff8b8b,
    A400 : #ff5858,
    A700 : #ff3e3e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$zombie-app-primary: mat-palette($md-zombie-green);
$zombie-app-accent:  mat-palette($md-zombie-grey);
$zombie-app-warn:    mat-palette($md-zombie-red);

$custom-typography: mat-typography-config(
    $font-family: 'Gaegu'
);

$zombie-app-theme: mat-dark-theme($zombie-app-primary, $zombie-app-accent, $zombie-app-warn);

@include angular-material-typography($custom-typography);
@include angular-material-theme($zombie-app-theme);